* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: 100px auto;
}

.cell {
  width: 100px;
  height: 100px;
  background: rgb(214, 202, 202);
  border: 1px solid #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  transition: all 0.3s ease;
}

.cell--active {
  font-size: 90px;
}

.cell:hover {
  background: rgb(180, 167, 167);
}

.cell:active {
  background: rgb(126, 116, 116);
}

.result {
  font-size: 20px;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}
