:root {
  --main-color: #386de0;
  --main-color-dark: #2d59b9;
  --button-size-circle: 45px;
}

* {
  box-sizing: border-box;
}

body {
  font: 400 16px/1.75 sans-serif;
}

.g-button {
  display: inline-block;
  cursor: pointer;
  outline: none;
  background: none;
  padding: 7px 25px;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  border-radius: 25px;
  transition: all 0.3s ease;
  transition-property: color, background-color;
}

.g-button--circle {
  width: var(--button-size-circle);
  height: var(--button-size-circle);
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.g-button:hover {
  background-color: var(--main-color);
  color: #fff;
}

.g-button:focus,
.g-button:active {
  background-color: var(--main-color-dark);
  color: #fff;
}

.uploader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.uploader__form {
  display: flex;
  align-items: center;
}

.uploader__label {
  position: relative;
  overflow: hidden;
}

.uploader__input {
  position: absolute;
  top: -100px;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  opacity: 0;
}


.uploader__input--active {
  position: fixed;
  top: 0;
  z-index: 1000;
}

.uploader__button {
  margin-left: 10px;
}

.uploader-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 42, 131, 0.404);
  opacity: 0;
  transition: opacity 0.3s ease;
  /* pointer-events: none; */
}

.uploader-wrapper--active {
  z-index: 100;
  opacity: 1;
  pointer-events: auto;
}

.uploader-wrapper__text {
  font-size: 50px;
  padding: 10px 40px;
  color: #fff;
  border: 2px dashed #fff;
}
